<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Insure landing</title>

    <style>
      :root {
        --DarkViolet: hsl(256, 26%, 20%);
        --GrayishBlue: hsl(216, 30%, 68%);
        /* /- ### Neutral  */
        --VeryDarkViolet: hsl(270, 9%, 17%);
        --DarkrayishViolet: hsl(273, 4%, 51%);
        --VeryLightGray: hsl(0, 0%, 98%);
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
